body {
    background-image: url('../img/pexels-bri-schneiter-346529.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}